<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <ImportMap />

    @* MudBlazor Fonts and CSS *@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    <link rel="icon" type="image/png" href="favicon.png" />
    @* Add rendermode here *@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    @* Applying InteractiveServer here allows the entire app to be interactive 
       while avoiding the "Body parameter serialization" error in MainLayout. 
    *@
    <Routes @rendermode="InteractiveServer" />
    
    <ReconnectModal />
    
    @* Scripts required for Blazor and MudBlazor functionality *@
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
