@page "/Liabilities/edit/{id:int}"
@rendermode InteractiveServer
@using Domain.Entities
@using Application.Interface
@using Application.DTO
@inject ILiabilityService LiabilityService
@inject NavigationManager NavigationManager

<MudContainer MaxWidth="MaxWidth.Small" Class="py-4">
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h4" Color="Color.Primary">Edit Liability</MudText>
        </MudCardHeader>
        <MudCardContent>
            <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <div class="d-flex flex-column gap-3">
                    <MudTextField @bind-Value="Model.Name" Label="Name" Variant="Variant.Outlined" />
                    <MudTextField @bind-Value="Model.Type" Label="Type" Variant="Variant.Outlined" />
                    <MudTextField @bind-Value="Model.Value" Label="Value" Variant="Variant.Outlined" />
                </div>
                <div class="d-flex gap-3 mt-4">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Update</MudButton>
                    <MudButton Href="/Liabilities" Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
                </div>
            </EditForm>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    [Parameter] public int id { get; set; }
    private LiabilityUpdateDTO Model { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        var liability = await LiabilityService.GetLiabilityByIdAsync(id);
        if (liability != null)
        {
            Model = new LiabilityUpdateDTO {
                Name = liability.Name,
                Type = liability.Type,
                Value = liability.Value
            };
        }
    }

    private async Task OnValidSubmit()
    {
        await LiabilityService.UpdateLiabilityAsync(id, Model);
        NavigationManager.NavigateTo("/Liabilities");
    }
}