@page "/accounts/edit/{Id}"
@using Application.Services.AccountService
@using Domain.Entities
@using Application.DTOs
@using Application.Interfaces
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@inject IAccountService AccountService
@inject NavigationManager Navigation

<PageTitle>Edit Account</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="py-8">
    <MudPaper Elevation="1" Class="pa-6">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <MudText Typo="Typo.h5">Edit Account</MudText>
            <MudButton Href="/accounts" Variant="Variant.Outlined" Size="Size.Small">Back to list</MudButton>
        </div>

        @if (isProcessing)
        {
            <div class="d-flex justify-center py-8">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        else
        {
            <EditForm Model="Model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="Model.Name" Label="Name" Placeholder="Enter account name"
                            Variant="Variant.Outlined" FullWidth="true" />
                        <ValidationMessage For="@(() => Model.Name)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="Model.Number" Label="Account Number" Placeholder="Enter account number"
                            Variant="Variant.Outlined" FullWidth="true" />
                        <ValidationMessage For="@(() => Model.Number)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudNumericField @bind-Value="Model.Balance" Label="Balance" Placeholder="Enter balance"
                            Variant="Variant.Outlined" FullWidth="true" />
                        <ValidationMessage For="@(() => Model.Balance)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">
                            Update Account
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        }
    </MudPaper>
</MudContainer>

@code {
    [Parameter]
    public string Id { get; set; } = default!; 

    private AccountUpdateDTOs Model { get; set; } = new();
    private bool isProcessing = true;

    protected override async Task OnParametersSetAsync()
    {
        isProcessing = true;
        var account = await AccountService.GetAccountByIdAsync(Id);
        
        if (account != null)
        {
            Model.Name = account.Name;
            Model.Number = account.Number;
            Model.Balance = account.Balance;
        }
        
        isProcessing = false;
    }

    private async Task OnValidSubmit()
    {
        await AccountService.UpdateAccountAsync(Id, Model);
        Navigation.NavigateTo("/accounts");
    }
}