<<<<<<< HEAD
.page[b-fmchvcbi5q] {
=======
.page[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
    position: relative;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
main[b-fmchvcbi5q] {
    flex: 1;
}

.sidebar[b-fmchvcbi5q] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-fmchvcbi5q] {
=======
main[b-739djkm78g] {
    flex: 1;
}

.sidebar[b-739djkm78g] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

<<<<<<< HEAD
    .top-row[b-fmchvcbi5q]  a, .top-row[b-fmchvcbi5q]  .btn-link {
=======
    .top-row[b-739djkm78g]  a, .top-row[b-739djkm78g]  .btn-link {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

<<<<<<< HEAD
    .top-row[b-fmchvcbi5q]  a:hover, .top-row[b-fmchvcbi5q]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-fmchvcbi5q]  a:first-child {
=======
    .top-row[b-739djkm78g]  a:hover, .top-row[b-739djkm78g]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-739djkm78g]  a:first-child {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
<<<<<<< HEAD
    .top-row[b-fmchvcbi5q] {
        justify-content: space-between;
    }

    .top-row[b-fmchvcbi5q]  a, .top-row[b-fmchvcbi5q]  .btn-link {
=======
    .top-row[b-739djkm78g] {
        justify-content: space-between;
    }

    .top-row[b-739djkm78g]  a, .top-row[b-739djkm78g]  .btn-link {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        margin-left: 0;
    }
}

@media (min-width: 641px) {
<<<<<<< HEAD
    .page[b-fmchvcbi5q] {
        flex-direction: row;
    }

    .sidebar[b-fmchvcbi5q] {
=======
    .page[b-739djkm78g] {
        flex-direction: row;
    }

    .sidebar[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

<<<<<<< HEAD
    .top-row[b-fmchvcbi5q] {
=======
    .top-row[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        position: sticky;
        top: 0;
        z-index: 1;
    }

<<<<<<< HEAD
    .top-row.auth[b-fmchvcbi5q]  a:first-child {
=======
    .top-row.auth[b-739djkm78g]  a:first-child {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        flex: 1;
        text-align: right;
        width: 0;
    }

<<<<<<< HEAD
    .top-row[b-fmchvcbi5q], article[b-fmchvcbi5q] {
=======
    .top-row[b-739djkm78g], article[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

<<<<<<< HEAD
#blazor-error-ui[b-fmchvcbi5q] {
=======
#blazor-error-ui[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

<<<<<<< HEAD
    #blazor-error-ui .dismiss[b-fmchvcbi5q] {
=======
    #blazor-error-ui .dismiss[b-739djkm78g] {
>>>>>>> 00e74d0f76207fceaa8cd355cf953bed683cccab
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
